---
layout: default
---

<div class="home">

  <p>I'm convinced that Bitcoin is the most important idea of my lifetime, and I want to be involved and help build the Bitcoin world.</p>
  <p>Here I publish my thoughts, in case it's helpful to anyone else.</p>
  <p>If you are building something in the Bitcoin ecosystem and looking for an angel investor that will be around to help, please <a href="/about">reach out</a>.</p>


  <hr style="width:80%; margin:20px auto; color:#e8e8e8;" />

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
